@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
@font-face {
  font-family: Tay Bea;
  src: url("https://cdn.prod.website-files.com/67079a31e71560a787d9fcc4/67079b35ca1818ca1f47d47a_TAYBea.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: Raleway;
  src: url('/components/font/Raleway-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-macondo-swash: var(--font-macondo-swash);
  --font-inter: var(--font-inter);
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --font-quantico: var(--font-quantico);
  --color-light: #f7f7f7;
  /* --color-primary: #314158; */
  --color-darker: #333333;
  
  --color-yellow: #f0b420 ;
  --color-black: #1e1e1e;
  --color-purple: #b0a5f4;
  --color-light-brown-gray: #f2e8dc;
  --color-light-brown: #a79785;
  --color-red: #f36c5a;
  --color-gray: #fffaf3;
  --color-light-black: #403f3e;
  --color-bg-color: #f9f2e9;
  --font-tay-bea: "Tay Bea";
  --font-raleway: "Raleway";
}

@layer components {
  .link-btn {
    @apply bg-primary hover:bg-primary/60 cursor-pointer rounded-lg px-6 py-3 text-white transition-all duration-200 hover:scale-105;
  }

  .input {
    @apply border-primary/50 focus:outline-primary placeholder:text-darker/30 min-w-2xs rounded-lg border px-5 py-4 transition-all duration-200 focus:outline-2 md:w-md md:focus:scale-105 lg:w-lg;
  }

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f2e9;
    --foreground: #ededed;
  }
} */

body {
  background: #f9f2e9;
  color: var(--foreground);
  /* font-family: Raleway, sans-serif; */
}

.loader {
  width: 54px;
  height: 54px;
  position: relative;
  background: #fff;
  border-radius: 4px;
}
.loader:before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
  background: rgb(14, 24, 155);
  border-radius: 50%;
  transform-origin: 100% 100%;
  animation: move 1s linear infinite;
}
@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
}
